sentence-transformers>=2.6.0
langchain
flask
pypdf
python-dotenv
pinecone-client[grpc]
langchain-pinecone
langchain-community
langchain-experimental
langchain_openai
langchain-google-genai
-e .